<!doctype>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Univers-Gaming</title>
        
        <link href="style.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

        <!-- Load Vue followed by Vue Router -->

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/src/httpVueLoader.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body >
        <div id="app">
          <div id="hd">
          <header>

            <!--Barre de Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <router-link title="Home" to='/' class="navbar-brand" aria-current="page"><i class="fab fa-playstation fa-3x"></i></router-link>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
         <router-link to='/game' title="Les jeux disponibles" class="nav-link " aria-current="page" >NosJeux</router-link>
        </li>
        <li class="nav-item">
           <router-link to='/consol' title="Les consoles disponibles" class="nav-link" tabindex="-1">Consols</router-link>
        </li>
        <li class="nav-item">
            <router-link to='/wishlist' title="La liste des jeux" class="nav-link">WishList</router-link>      
        </li>
        
      </ul>
    </div>



    <div v-else class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
         <router-link to='/game'  class="nav-link " aria-current="page" >NosJeux</router-link>
        </li>
        <li class="nav-item">
           <router-link to='/consol' class="nav-link" tabindex="-1">Consols</router-link>
        </li>
        <li class="nav-item">
            <router-link to='/wishlist' class="nav-link">WishList</router-link>      
        </li>
        <li class="nav-item">
           <router-link to='/register' class="nav-link">Register</router-link>
        </li>
        <li class="nav-item">
           <router-link to='/login' class="nav-link" tabindex="-1">Login</router-link>
        </li>
        
      </ul>
    </div>




  </div>
</nav><br>
        <h1 v-if="isConnected" style="text-align:center">Bienvenue {{user.pseudo}}</h1>
          <h1 v-else style="text-align:center">Bienvenue les Gamers</h1>    
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="width:50%; margin:auto">
    <div class="carousel-item active">
      <img src="fif20.png"  width="50%" class="d-block w-100 h-50" alt="fifa20">
    </div>
    <div class="carousel-item">
      <img src="2k21.jpg" class="d-block w-100 h-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="cod.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

          </header>
        </div>
        <br>
          <main>
            <router-view
              :games="games"
              :consols="consols"
              :wishlist="wishlist"
              @add-game="addGame"
              @update-game="updateGame"
              @delete-game="deleteGame"
              @add-consol="addConsol"
              @update-consol="updateConsol"
              @delete-consol="deleteConsol"
              @add-to-wish-list="addToWishList"
              @remove-from-wish-list="removeFromWishList"
              @login="login"
              :user="user"
              :is-connected="isConnected"
            ></router-view>
          </main>

        </div>
        <script src="/vue-application.js"></script>
    </body>
</html>
