body{
	background-image: url('fond.jpg');
}

#app{
	color: white;
}

#hd{
	margin-left:auto;
	margin-right:auto;
	color: white;

}



#form{
	width:30%;
	margin:auto;
	padding-left:5%;
	padding-right:5%;
	background-image: url('brique.jpg');

}
