<template>


  <div>
  <div style="width:35%;margin:auto">
    <div style="text-align:center"><h2> Dernière Tendance </h2></div><br>
    <p style="font-size:150%"> Fans de jeux console ou Pc vous êtes entrés dans le bon univers. Ici, nous vous présentons les dernières nouveautés de monde du gaming, leur gameplay mais aussi un moyen de vous en procurer selon la plateforme dont vous disposez (Ps4, Ps5, Xbox, Pc) </p>
    <div style="text-align:center"><button type="button" class="btn btn-warning"> <router-link v-if="isConnected"  to='/game' class="nav-link" style="color:black" tabindex="-1">NosJeux</router-link>  <router-link v-else to='/login' class="nav-link" style="color:black" tabindex="-1">Se connecter</router-link></button></div><br>
  </div>
  </div>
</template>

<script>


module.exports = {
  props: {
    games: { type: Array, default: [] },
    wishlist: { type: Object },
    user: {type: Object},
    isConnected: { type: Boolean }
  },
  data () {
    return {
      editingGames: {
        id: -1,
        name: '',
        description: '',
        image: '',
        gamePlay: ''
      }
    }
  },
  methods: {
    isInWishList (gameId) {
      return !!this.wishList.games.find(a => a.id === gameId)
    },
    addToWishList (gameId) {
      this.$emit('add-to-wishList', gameId)
    },
    removeFromWishList (gameId) {
      this.$emit('remove-from-wishList', gameId)
    },
    addGame (game) {
      this.$emit('add-game', game)
    },
    deleteGame (gameId) {
      this.$emit('delete-game', gameId)
    },
    editGame (game) {
      this.editingGame.id = game.id
      this.editingGame.name = game.name
      this.editingGame.description = game.description
      this.editingGame.image = game.image
      this.editingGame.gamePlay = game.gamePlay
    },
    sendEditGame () {
      this.$emit('update-game', this.editingGame)
      this.abortEditGame()
    },
    abortEditGame () {
      this.editingGame = {
        id: -1,
        name: '',
        description: '',
        image: '',
        gamePlay: ''
      }
    }
  }
}
</script>

<style scoped>
article {
  display: flex;
}

.article-img {
  flex: 1;
}

.article-img div {
  width: 100px;
  height: 100px;
  background-size: cover;
}

.article-content {
  flex: 3;
}

.article-title {
  display: flex;
  justify-content: space-between;
}

textarea {
  width: 100%;
}

body{
  background-color: blue;
}
</style>
