<template>

<div>
<div>
    <div id="form">
    <h2 style="width:50%;margin-left:auto;margin-right:auto">Inscription</h2>
    <!-- TODO -->
  <form @submit.prevent="createUser">
  <div class="form-group">
    <label for="exampleInputEmail2">Pseudo</label>
    <input type="text" v-model="newUser.pseudo" id="e" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Enter email" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" v-model="newUser.email" id="e" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" id="p" v-model="newUser.password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
  </div>
  <br>
  <div id="vali">
  <button type="submit" class="btn btn-primary">S'inscrire</button>
  <router-link to='/login' class="nav-link" style="color:white" tabindex="-1">Déjà inscris ? Login</router-link>
  </div>
</form>
<br>
  </div>

  </div>
</template>

<script>

module.exports = {

  data () {
    return {
      newUser:{
      	pseudo: '',
        email: '',
        password: '',
      }
      
    }
  },
  methods: {
    async createUser() {
        await axios.post('/api/register',this.newUser)
        this.$router.push('/login')
    }
  	  }
}
</script>

<style scoped>
.image{
	width: 100%;
	height:50%;
	background-size:100%;
	border: solid white;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
}

.group{
	background-color: black;
	border: solid white;
	border-radius: 5%;
	width:22em;
	height:22.5em;

}

#gaming{
	display:flex;
	justify-content:space-around;
  flex-wrap:wrap;

}

#name{
	width:50%;
	background-color:blue;
	height:10%;
	margin:auto;
	text-align:center;
}

#description{
	width:100%;
	height:27.5%;
	margin:auto;
	text-align:center;
}

#bouton{
	width:100%;
	height:12.5%;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}

#editGame{
	width:85%;
	margin:auto;
	margin-top:5%;
}

#editDescription{
	width:95%;
	margin:auto;
	margin-top:1.5%;
}

#editImage{
	width:85%;
	margin:auto;
	margin-top:1.5%;
}

#editGamePlay{
	width:85%;
	margin:auto;
	margin-top:1.5%;
}

#editLienAchat{
  width:85%;
  margin:auto;
  margin-top:1.5%;
}

</style>
